<% content_for :title do %>
  Questions
<% end %>

<div class="container content-padding">
  <table>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td class="table__cell--padding-small"><%= question.text %></td>
          <td class="table__cell--padding-small"><%= link_to 'Show', question %></td>
          <td class="table__cell--padding-small"><%= link_to 'Edit', edit_question_path(question) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Question', new_question_path, class: 'button--blue-shadow' %>
</div>