<%= render 'global_public/nav_primary' %>

<header class="hero--public-small flex flex-v-center">
  <div class="hero__content container--public center">
    <h1>About the Debate</h1>
  </div>
</header>

<%= render 'global_public/cta' %>