<nav class="nav--primary gutters">
  <ul class="ul-unstyled ul-inline">
    <li><%= link_to 'Take the Survey', '#TODO', class: "nav__link" %></li>
    <li><%= link_to 'About the Project', about_the_project_path, class: "nav__link" %></li>
    <li><%= link_to 'About the Debate', about_the_debate_path, class: "nav__link" %></li>
  </ul>
</nav>