<nav class="nav--primary gutters">
  <ul class="ul-unstyled ul-inline">
    <li><%= link_to 'Take the Survey', new_survey_response_path(@survey), class: "nav__link" %></li>
    <li><%= link_to 'About the Project', about_the_project_path, class: "nav__link" + current_class?(about_the_project_path) %></li>
    <li><%= link_to 'About the Debate', about_the_debate_path, class: "nav__link" + current_class?(about_the_debate_path) %></li>
  </ul>
</nav>