<div class="icons--social">
  <div class="icons__header">Share the survey</div>
  <div class="icons__wrapper flex-inline flex-h-between">
    <%= create_social_link('Facebook') %>
    <%= create_social_link('Twitter') %>
    <%= mail_to "", '', class: 'icon--social icon--mail' %>
  </div>
</div>