<div class="icons--social">
    <div class="icons__header">Share</div>
  <div class="icons__wrapper flex-inline">
    <%= create_social_link('Facebook') %>
    <%= create_social_link('Twitter') %>
    <%= mail_to "", '', class: 'icon--social icon--mail' %>
  </div>
</div>