<div class="icons--social">
  <div class="icons__header"><%= t('social.header') %></div>
  <div class="icons__wrapper flex-inline flex-h-between">
    <%= create_social_facebook_link %>
    <%= create_social_twitter_link %>
    <%= create_social_email_link %>
  </div>
</div>