<div class="topbar--public gutters">
  <div class="topbar__content flex flex-v-center flex-h-between">
    <%= link_to '', root_path, title: 'gofox', class: 'logo--foc' %>

    <ul class="nav--secondary ul-inline">
      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'button--log-in' %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path, title: 'Log in', class: 'button--log-in' %></li>
      <% end %>
    </ul>
  </div>
</div>
