<h1>Editing Demographic Question</h1>

<%= render 'form', demographic_question: @demographic_question %>

<%= link_to 'Show', @demographic_question %> |
<%= link_to 'Back', demographic_questions_path %>
