<% content_for :title do %>
  Demographic Questions
<% end %>

<div class="container content-padding">
  <table>
    <tbody>
      <% @demographic_questions.each do |demographic_question| %>
        <tr>
          <td class="table__cell--padding-small"><%= demographic_question.text %></td>
          <td class="table__cell--padding-small"><%= link_to 'Show', demographic_question %></td>
          <td class="table__cell--padding-small"><%= link_to 'Edit', edit_demographic_question_path(demographic_question) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%#= link_to 'New Demographic Question', new_demographic_question_path, class: 'button--blue-shadow' %>
</div>
