<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @demographic_question.text %>
</p>

<%= link_to 'Edit', edit_demographic_question_path(@demographic_question) %> |
<%= link_to 'Back', demographic_questions_path %>
