//--------------------------------------------------
// html elements - reusable styles
//--------------------------------------------------
%small-uppcase-title {
  color: $grey-dark;
  font-size: rem-calc(16);
  letter-spacing: rem-calc(2);
  text-align: center;
  text-transform: uppercase;
}

//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-font-color;
  margin: 0;
}

h1 {
  .base--admin & { font-size: rem-calc(40); }

  .base--public & { font-size: rem-calc(48); }

  &--small-uppercase { 
    @extend %small-uppcase-title;
  }
}

h2 {
  .base--admin & { 
    @extend %small-uppcase-title; 
    color: $beige-xdark;
  }

  .base--public & {
    color: $grey-dark;
    font-size: rem-calc(40);
    margin: rem-calc(0 0 50 0);
  }
}

h3 {
}

h4 {
}

p {
  line-height: $body-line-height;
  margin: rem-calc(0 0 14 0);
}

a {
  color: $grey;
  font-weight: bold;

  &:hover { text-decoration: none; }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
%container {
  margin: 0 auto;
  padding: rem-calc(0 $gutter-small);

  @include breakpoint($medium){ padding: rem-calc(0 $gutter-medium); }
  @include breakpoint($large){ padding: rem-calc(0 $gutter-large); }
}

.site-width { 
  @include breakpoint($medium){ width: $site-width; }
}

.gutters {
  padding-left: $gutter-small;
  padding-right: $gutter-small;

  @include breakpoint($medium) {
    padding-left: $gutter-medium;
    padding-right: $gutter-medium;
  }

  @include breakpoint($large) {
    padding-left: $gutter-large;
    padding-right: $gutter-large;
  }
}

.container {
  @extend %container;
  @extend .site-width;
  
  &--small { 
    @extend %container;
    width: rem-calc(380); 
  }

  &--public { 
    @extend %container;
    @include breakpoint($medium){ width: rem-calc(960); }

    &-small {
      @extend %container;
      @include breakpoint($medium){ width: rem-calc(760); }
    }
  }
}

.content-padding {
  padding-top: rem-calc(20 0 50 0);

  &--large { padding: rem-calc(60 0 150 0); }
  
  &--public {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(40);
  }
}
