//--------------------------------------------------
// helpers
//--------------------------------------------------
// - fouc
// - font
// - lists
// - display
// - positioning
// - margin & padding
// - boxes
//
//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.italic { font-style: italic; }

.text-14 { font-size: rem-calc(14); }
.text-40 { font-size: rem-calc(40); }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-inline li { display: inline-block; }

//--------------------------------------------------
// display
//--------------------------------------------------
.display-block { display: block; }
.display-inline { display: inline-block; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

//--------------------------------------------------
// margin & padding
//--------------------------------------------------
.no-margin { margin: 0; }
