//--------------------------------------------------
// helpers
//--------------------------------------------------
// - fouc
// - font
// - lists
// - display
// - positioning
// - margin & padding
// - boxes
//
//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }

.text-14 { font-size: rem-calc(14); }
.text-40 { font-size: rem-calc(40); }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-inline li { display: inline-block; }

//--------------------------------------------------
// display
//--------------------------------------------------
.display-block { display: block; }
.display-inline { display: inline-block; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

//--------------------------------------------------
// margin & padding
//--------------------------------------------------
.no-margin { margin: 0; }

//--------------------------------------------------
// boxes
//--------------------------------------------------
.box {
  &--grey-light {
    background-color: $grey-light;
    padding: rem-calc(18 34);
    margin-bottom: rem-calc(28);
  }

  &--grey {
    background-color: $grey;
    padding: rem-calc(18 34);
  }

  &--beige-light { 
    background-color: $beige-light; 
    color: $beige-xdark;
  }

  &-border { border: solid $grey 1px; }

  &-margin-left { margin-left: rem-calc(36); }

  &-padding { padding: rem-calc(22 20); }

  &__header--beige { background-color: $beige; }
}