//--------------------------------------------------
// helpers
//--------------------------------------------------
// - fouc
// - font
// - lists
// - positioning
// - boxes
//
//--------------------------------------------------
// fouc (flash of unstyled content)
//--------------------------------------------------
[v-cloak] { display: none; }

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-inline li { display: inline-block; }

//--------------------------------------------------
// positioning
//--------------------------------------------------
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

//--------------------------------------------------
// boxes
//--------------------------------------------------
.box {
  &--grey-light {
    background-color: $grey-light;
    padding: rem-calc(18 34);
    margin-bottom: rem-calc(28);
  }
}