//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;

$grey-light: #f4f4f4;
$grey: #7f7f7f;
$grey-dark: #343434;

$black: #000000;

// $blue-light:
$blue: #2486B8;
$blue-dark: #466882;

$purple-light: #E9EDF0;

$primary: $blue-dark;
$secondary: $purple-light;

$accent: $blue;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-quattro: 'Quattrocento Sans', sans-serif;

$body-font: $font-quattro;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(960);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(11); 
$gutter-medium: rem-calc(16);
