<%= render partial: 'global_public/header', locals: { title: @survey.name } %>

<div class="container--public content-padding">

  <progress-bar></progress-bar>

  <%= render 'form', response: @response, questions: @questions %>

  <pagination-button type="previous" :total="<%= @questions.count %>">Previous</pagination-button>
  <pagination-button type="next">Next</pagination-button>
</div>
