<%= render partial: 'global_public/header', locals: { title: @survey.name } %>

<div class="container--public content-padding">

  <div>Progress bar</div>

  <%= render 'form', response: @response, questions: @questions %>
</div>
