<%= render partial: 'global_public/header', locals: { title: @survey.name } %>

<div class="container--public content-padding">

  <progress-bar></progress-bar>

  <%= render 'form', response: @response, questions: @questions %>
  
  <div class="flex flex-h-between">
    <pagination-button type="previous" :total="<%= @questions.count %>">Previous</pagination-button>
    <pagination-button type="next" class="button--large-chevrons">
      Next<i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i>
    </pagination-button>
  </div>
</div>
