<div class="title-bar flex flex-h-center flex-v-center gutters">
  <h1 class="h1--small-uppercase">Full response</h1>
</div>

<div class="container--medium content-padding">
  <p>
    <strong>ip address:</strong>
    <%= @response.ip_address %>
  </p>

  <strong>language:</strong>
  <%= @response.language %>
  </p>

  <ul class="ul-unstyled">
    <% @response.answers.each do |answer| %>
      <li class="full-response__question-wrapper">
        <h3 class="full-response__question-header"><%= answer.question.text %></h3>
        <p><%= format_answer(answer) %></p>
      <li>
    <% end %>
  </ul>
</div>