<div class="title-bar flex flex-h-center flex-v-center gutters">
  <h1 class="h1--small-uppercase">Full response</h1>
</div>

<div class="container--medium content-padding">
  <p>
    <strong>ip address:</strong>
    <%= @response.ip_address %>
  </p>

  <strong>language:</strong>
  <%= @response.language %>
  </p>

  <% @response.answers.each do |answer| %>
    <h3><%= answer.question.text %></h3>
    <%= format_answer(answer) %>
  <% end %>
</div>