//--------------------------------------------------
// accordion
//--------------------------------------------------
.accordion {

//--------------------------------------------------
// public
//--------------------------------------------------
  &--public {
    margin-top: rem-calc(30);

    .accordion-item {
      &:first-child .accordion-item__title { border: none; }

      &__title {
        border-top: solid $grey 1px;
        color: $grey-dark;
        padding: rem-calc(14 0);
        width: 100%;
      }

        .material-icons { color: $blue; }
    }
  }
}
