//--------------------------------------------------
// keyframes
//--------------------------------------------------
@keyframes fadeOutSlide {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeInSlide {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes hideSlide {
  from { height: 100%; }
  to { height: 0; }
}

@keyframes showSlide {
  from { height: 0; }
  to { height: 100%; }
}

//--------------------------------------------------
// carousel
//--------------------------------------------------
.carousel {
  min-height: rem-calc(550);

  position: relative;

  h1 {
    border-bottom: solid $grey 1px;
    padding-bottom: rem-calc(12);
  }

//--------------------------------------------------
// slide nav
//--------------------------------------------------
  &__steps {
    color: $grey;
    font-size: rem-calc(25);

    position: absolute;
    top: rem-calc(12);
    right: 0;
  }

//--------------------------------------------------
// slides
//--------------------------------------------------
  &__slides {
    
  }
//--------------------------------------------------
// slide
//--------------------------------------------------
    &__slide {
      overflow: hidden;
      width: 100%;

      &--hide {
        opacity: 0;
        max-height: 0;
        transition: opacity 0.3s ease-out, max-height 0s linear 0.3s;
      }

      &--show {
        opacity: 1;
        max-height: 100rem;
        transition: opacity 0.4s ease-in 0.3s, max-height 0s linear 0.3s;
      }
    }
}