//--------------------------------------------------
// modal wrapper
//--------------------------------------------------
.modal-wrapper {
  background-color: rgba($grey-light, 0.5);
  overflow: scroll;
}

//--------------------------------------------------
// modal
//--------------------------------------------------
.modal {
  background-color: white;
  box-shadow: lighten($grey-dark, 30%) 0 2px 5px 1px;
  margin-top: rem-calc(120);
  width: rem-calc(544);
  
  transform: translateX(50%);

  &__content {
    padding: rem-calc(32 80 32 86);

    position: relative;

    h2 { margin-top: 0; }
  }

    &__close {
      cursor: pointer;
      font-size: rem-calc(26);

      position: absolute;
      top: rem-calc(16);
      right: rem-calc(16);
    }
}