//--------------------------------------------------
// progress bar
//--------------------------------------------------
.progress-bar {
  color: $grey-dark;
  margin-top: rem-calc(16);
  margin-bottom: rem-calc(58);

  &__tooltip {
    background-color: $pink-light;
    border: solid 1px $pink;
    border-radius: rem-calc(4);
    color: $pink-dark;
    font-size: rem-calc(14);
    font-weight: bold;
    margin-bottom: rem-calc(18);
    padding: rem-calc(9 18 9 70);
    
    align-self: flex-start;
    display: inline-block;
    position: relative;

    &:before {
      box-shadow: lighten($pink-dark, 40%) 2px 2px 0px -1px;
      background-color: $pink-light;
      content: '';
      width: rem-calc(18); height: rem-calc(18);

      position: absolute;
      bottom: rem-calc(-7);
      left: rem-calc(30);

      transform: rotateZ(45deg);
    }

    &-2:before { left: rem-calc(197); }

    &-3 {
      align-self: center;

      &:before { left: rem-calc(106); }
    }

    &-4 {
      align-self: center;

      &:before { left: rem-calc(273); }
    }

    &-5 {
      align-self: flex-end;

      &:before { left: rem-calc(181); }
    }

    &-6 {
      align-self: flex-end;

      &:before { left: rem-calc(348); }
    }

    &-icon {
      background: image_url('icons/icon-tooltip.svg') no-repeat center;
      background-size: cover;
      width: rem-calc(52); height: rem-calc(47);

      display: block;
      position: absolute;
      top: rem-calc(-11);
      left: rem-calc(5);
    }
  }

  &__icon {
    background-size: cover;
    margin-bottom: rem-calc(16);
    width: rem-calc(912); height: rem-calc(36);

    display: block;

    &-1 { background-image: image_url('icons/progress-bar-1.svg'); }
    &-2 { background-image: image_url('icons/progress-bar-2.svg'); }
    &-3 { background-image: image_url('icons/progress-bar-3.svg'); }
    &-4 { background-image: image_url('icons/progress-bar-4.svg'); }
    &-5 { background-image: image_url('icons/progress-bar-5.svg'); }
    &-6 { background-image: image_url('icons/progress-bar-6.svg'); }
  }
}