//--------------------------------------------------
// validation message
//--------------------------------------------------
.validation-message {
  color: $red;
  font-size: rem-calc(20);
  font-weight: bold;
  margin-bottom: rem-calc(20);
}