<h2>Customised Questions</h2>

<% if survey.customised_questions.any? %>
  <ul>
    <% survey.customised_questions.each do |customised_question| %>
      <li>
        <%= customised_question.text %>
        <% if customised_question.options.any? %>
          <ul>
            <% customised_question.options.each do |option| %>
              <li><%= option.text %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
