In this section we ask questions about the specific group or class to which you will be sending the survey.

<div class="field">
  <label for="">
    Survey title
  </label>
  (Text box)
  <p>
    Lorem ipsum.
  </p>
</div>

<div class="field">
  <label for="">
    Previous survey ID.
  </label>
  (Text box)
  <p>
    Lorem ipsum.
  </p>
</div>

<div class="field">
  <label for="">
    Default language
  </label>
  (Radio buttons; English, French, Spanish)
  <p>
    Lorem ipsum.
  </p>
</div>

<div class="field">
  <label for="">
    Participants' organisation name
  </label>
  (Text field)
  <p>
    What is the name of the group/organisation to which the survey participants belong?
  </p>
</div>

<div class="field">
  <label for="">
    Participants' level of study
  </label>
  (Radio buttons)
  <p>
    What is the level of study of your survey group or class?
  </p>
</div>

<div class="field">
  <label for="">
    Participants' specialism
  </label>
  (Radio buttons)
  <p>
    Lorem ipsum.
  </p>
</div>

<div class="field">
  <label for="">
    Name of Course/module:
  </label>
  (Text field).
  <p>
    Lorem ipsum
  </p>
</div>

<div class="field">
  <label for="">
    Course website/url
  </label>
  (Text field).
  <p>
    Lorem ipsum
  </p>
</div>

<div class="field">
  <label for="">
    Size of group
  </label>
  (Text field and don't know option)
  <p>
    Lorem ipsum
  </p>
</div>

<div class="field">
  <label for="">
    Follow up session?
  </label>
  (Radio buttons: yes/no)
  <p>
    Lorem ipsum
  </p>
</div>

<div class="field">
  <label for="">
    Session date
  </label>
  (Date selection)
</div>

<div class="field">
  <label for="">
    Anonymity.
  </label>
  (Radio buttons: yes/no)
</div>

<div class="field">
  <label for="">
    What do you hope to achieve from using GO-FOX with this class?
  </label>
  (Free text)
</div>
