<p>
  In this section we ask questions about the specific group or class to which you will be sending the survey.
</p>

<p>
  What would you like to call your survey?
</p>

<p>
  If this is a follow up to a previous GO-FOX survey, please enter the original survey ID:
</p>

<p>
  What is the language of your survey?
</p>

<p>
  Please upload a logo for your survey:
</p>

<p>
  What is the name of the group/organisation to which the survey participants belong?
</p>
