<div class="customised-question__option nested-fields">
  <div class="field">
    <p>
      <%= f.label :text, "Option" %>
      <%= f.text_field :text %>
    </p>
  </div>

  <%= link_to_remove_association f, {class: "button button--beige"} do %>
    <i class="material-icons">remove</i>
    Remove Option
  <% end %>
</div>
