<div class="nested-fields">
  <div class="field">
    <p>
      <%= f.label :text, "Option Text" %>
      <%= f.text_field :text %>
    </p>
  </div>

  <%= link_to_remove_association "Remove Option", f, {class: "button"} %>
</div>
