//--------------------------------------------------
// block - reusable styles
//--------------------------------------------------
%public-icon { margin-bottom: rem-calc(80); }

//--------------------------------------------------
// block
//--------------------------------------------------
.block {
//--------------------------------------------------
// public
//--------------------------------------------------
  &--public {
    padding: rem-calc(80 0 120 0);
    text-align: center;

    h2 { margin-bottom: rem-calc(36); }

    .block {
      &__icon {
        &-foc { 
          @extend %public-icon;
          width: rem-calc(145); height: rem-calc(145); 
        }

        &-gofox { 
          @extend %public-icon;
          width: rem-calc(227); height: rem-calc(100); 
        }
      }
    }
  }

  &--about {
    padding: rem-calc(24 0 28 0);

    h2 {
      border-bottom: solid $grey 1px;
      color: $blue-dark;
      font-size: rem-calc(30);
      margin-bottom: rem-calc(22);
      padding-bottom: rem-calc(8);
    }

    h3 {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(10);
    }

    h4 {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(6);
    }
  }

  &--results {
    padding: rem-calc(14 0 18 0);

    h2 {
      color: $body-font-color;
      font-size: rem-calc(24);
      margin: rem-calc(0 0 6 0);
    }
  }
}