$padding-small: rem-calc(8);
$border: solid rem-calc(1);

.expandable-item {
  margin-right: rem-calc(60);
  width: rem-calc(100); height: 40%;

  @include breakpoint($medium) {
    margin-right: 0;
    width: rem-calc(120);
  }

  &__header {
    background-color: $white;
    border: $border $grey;
    font-size: inherit;
    padding: 0 $padding-small;
    height: 100%; width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__container {
    background-color: $white;
    border: $border $grey;
    border-top: none;
    padding: $padding-small;
    width: 100%;

    position: absolute;
    top:100%;
    left: 50%;
    z-index: 100;

    transform: translateX(-50%);
  }
}
