//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  background-color: $blue-xdark;
  color: $white;
  padding: 0 $gutter-large;
  width: auto; height: rem-calc(66);
}