//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  &__content {
    flex-wrap: wrap;
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(30);
    
    @include breakpoint($medium) { 
      flex-wrap: nowrap;
      margin: 0 auto;
    }
  }

    &__copyright {
      font-size: rem-calc(14);
      margin: rem-calc(10 0);
      @include breakpoint($medium) { font-size: rem-calc(16); }
    }

    &__login {
      @extend .flex;
      @extend .flex-column;
      @extend .flex-1-half;
      @extend .flex-v-start;
      font-size: rem-calc(14);

      @include breakpoint($medium) { display: none; }
    }

  &--secondary {
    background: $white;
    color: $blue-xdark;
    border-top: solid $blue-xlight 1px;

    .footer__content {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);

      flex-direction: column;

      @include breakpoint($small) {
        flex-direction: row;
      }
    }
  }

    &__funder-logos {
      flex-direction: column;
      
      @include breakpoint($small) {
        flex-direction: row;
      }
    }

  &--primary {
    background-color: $blue-xdark;
    color: $blue-xlight;

    position: relative;
  }
}
