//--------------------------------------------------
// form
//--------------------------------------------------
.form {
  &__note {
    margin-bottom: rem-calc(3);

    display: block;
  }

  &__instruction {
    margin-top: rem-calc(3);
    text-align: right;

    display: block;
  }
}

//--------------------------------------------------
// labels
//--------------------------------------------------
label {
  font-weight: bold;
  margin: rem-calc(20 0 3 0);

  display: inline-block;
}

//--------------------------------------------------
// inputs
//--------------------------------------------------
input[type='submit'] {
  @extend .button--blue-shadow;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: solid 1px $grey;
  border-radius: rem-calc(8);
  font-size: rem-calc(16);
  margin-top: rem-calc(6);
  padding: rem-calc(15);
  width: 100%;
}

textarea {
  border: solid 1px $grey;
  border-radius: rem-calc(8);
  width: 100%; height: rem-calc(170);
}

//--------------------------------------------------
// validation
//--------------------------------------------------
.error_explanation {
  color: $red;
  font-size: rem-calc(18);
  font-weight: bold;
}

.field_with_errors {
  label {
    color: $red;
  }

  input[type='email'],
  input[type='password'],
  input[type='text'] {
    border: solid $red 2px;
    background-color: $red-light;
  }
}