//--------------------------------------------------
// form
//--------------------------------------------------
.form {
  &__note {
    margin-bottom: rem-calc(3);

    display: block;
  }

  &__instruction {
    margin-top: rem-calc(3);
    text-align: right;

    display: block;
  }
}

//--------------------------------------------------
// labels
//--------------------------------------------------
label {
  font-weight: bold;
  margin: rem-calc(20 0 3 0);

  display: inline-block;
}

//--------------------------------------------------
// inputs
//--------------------------------------------------
input[type='submit'] {
  @extend .button--blue-shadow;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: solid 1px $grey;
  border-radius: rem-calc(8);
  font-size: rem-calc(16);
  margin-top: rem-calc(6);
  padding: rem-calc(15);
  width: 100%;
}

textarea {
  border: solid 1px $grey;
  border-radius: rem-calc(8);
  width: 100%; height: rem-calc(170);
}

//--------------------------------------------------
// vue radio button
//--------------------------------------------------
.radio-button--scale-wrapper {
  display: block;

  @include breakpoint($medium) { display: flex; }
}

.radio-button--scale {
  flex: 1;

  position: relative;

  &:hover { background-color: $purple-light; }

  &:nth-child(2){ 
    .radio-button__label { border-left: solid $grey-light 1px; }
  }
  
  .radio-button {
    &__input {
      position: absolute;
      visibility: hidden; 
    }

    &__label {
      border-top: solid $grey-light 1px;
      border-right: solid $grey-light 1px;
      border-bottom: solid $grey-light 1px;
      cursor: pointer;
      font-size: rem-calc(12);
      margin: 0 0 rem-calc(9) 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%; height: rem-calc(40);

      position: relative;

      @include breakpoint($medium) { 
        height: rem-calc(100); 
        margin: 0;
      }

      &:after {
        background: repeating-linear-gradient(
          45deg,
          $blue-light,
          $blue-light 5px,
          $blue 5px,
          $blue 6px
        );
        opacity: 0.7;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &__tick {
      background: image_url('icons/icon-tick.svg') no-repeat;
      background-size: cover;
      width: rem-calc(27); height: rem-calc(21);
      
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      @include breakpoint($medium) { 
        width: rem-calc(58); height: rem-calc(44);
      }
    }
  }

  input[type=radio]:checked ~ .radio-button__label:after {
    content: '';
  }

  input[type=radio]:checked ~ .radio-button__tick {
    display: block;
  }
}

.radio-button {
  border-right: solid $grey-light 1px;
  border-bottom: solid $grey-light 1px;
  cursor: pointer;
  margin: 0;
  padding: rem-calc(38);

  &:hover { background-color: $purple-light; }

  &:nth-child(1),
  &:nth-child(2) { border-top: solid $grey-light 1px; }
  &:nth-child(odd) { border-left: solid $grey-light 1px; }

  &__label {
    color: $blue-light;
    cursor: pointer;
    font-size: rem-calc(14);
    margin: rem-calc(0 0 0 7);
  }
}

//--------------------------------------------------
// vue checkbox
//--------------------------------------------------
.checkbox {
  border-right: solid $grey-light 1px;
  border-bottom: solid $grey-light 1px;
  cursor: pointer;
  margin: 0;
  padding: rem-calc(38);

  &:hover { background-color: $purple-light; }

  &:nth-child(1),
  &:nth-child(2) { border-top: solid $grey-light 1px; }
  &:nth-child(odd) { border-left: solid $grey-light 1px; }

  &__label {
    color: $blue-light;
    cursor: pointer;
    font-size: rem-calc(14);
    margin: rem-calc(0 0 0 7); 
  }
}

//--------------------------------------------------
// validation
//--------------------------------------------------
.error_explanation {
  color: $red;
  font-size: rem-calc(18);
  font-weight: bold;
}

.field_with_errors {
  label {
    color: $red;
  }

  input[type='email'],
  input[type='password'],
  input[type='text'] {
    border: solid $red 2px;
    background-color: $red-light;
  }
}

.form {
  &__validation {
    &-message {
      color: $red;
      font-size: rem-calc(20);
      font-weight: bold;
    }
  
    &-border {
      border: solid 2px $red;
    }
  }
}

//--------------------------------------------------
// questions
//--------------------------------------------------
.question {
  padding-bottom: rem-calc(60);

  &__title {
    padding: rem-calc(26 26);
  }
}