//--------------------------------------------------
// hero - resusable styles
//--------------------------------------------------
%public {
  background-color: $grey;
  background-size: cover;
  color: $white;
}

//--------------------------------------------------
// hero
//--------------------------------------------------
.hero {

//--------------------------------------------------
// public
//--------------------------------------------------
  &--public {
    @extend %public;
    //background: $grey image-url('') center no-repeat;
    height: rem-calc(400);
  
    .hero {

      &__tagline {
        @include breakpoint($medium) { padding: rem-calc(0 148); }
      }

      &__button { 
        margin-right: rem-calc(10);
        margin-left: rem-calc(10);
      }
    }
  }

  &--public-small {
    @extend %public;
    //background: $grey image-url('') center no-repeat;
    height: rem-calc(150);
  }
}