//--------------------------------------------------
// logos - reusable styles
//--------------------------------------------------
%logo {
  background-repeat: no-repeat;
  background-size: contain;
  margin: rem-calc(10 0);

  display: block;

  &:not(:last-child) {
    margin-right: rem-calc(10);
  }
}

%foc {
  width: rem-calc(135); height: rem-calc(45);

  @include breakpoint($medium) { width: rem-calc(166); height: rem-calc(56); }
}

//--------------------------------------------------
// logos
//--------------------------------------------------
.logo {
  &--cci {
    @extend %logo;
    background-image: image-url('logos/logo-cci.svg');
    width: rem-calc(245); height: rem-calc(16);
  }

  &--esrc {
    @extend %logo;
    background-image:  image-url('logos/logo-esrc.svg');
    width: rem-calc(54); height: rem-calc(45);
  }

  &--foc {
    @extend %logo;
    @extend %foc;
    background-image: image-url('logos/logo-foc.svg');
  }

  &--foc-white {
    @extend %logo;
    @extend %foc;
    background-image: image-url('logos/logo-foc-white.svg');
  }
}