//--------------------------------------------------
// nav
//--------------------------------------------------
//--------------------------------------------------
// global
//--------------------------------------------------
.nav {
  &--secondary {

  }

//--------------------------------------------------
// admin
//--------------------------------------------------

//--------------------------------------------------
// public
//--------------------------------------------------
  &--primary {
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);

    .nav__link {
      color: $blue-light;
      margin-right: rem-calc(16);
      text-decoration: none;

      &:hover { color: $blue-dark; }
    }
  }

  &--footer {
    width: rem-calc(320);

    .nav {
      &__li {
        flex: 0 1 50%;
        margin: rem-calc(4 0);
      }

        &__a {
          text-decoration: none;

          &:hover { color: $white; }
        }
    }
  }
}