//--------------------------------------------------
// nav
//--------------------------------------------------
//--------------------------------------------------
// global
//--------------------------------------------------
.nav {
  
//--------------------------------------------------
// admin
//--------------------------------------------------
  &--secondary {
    margin: 0;
    padding-bottom: rem-calc(16);

    .base--admin & { background-color: $purple-light; }

    .nav {
      &__li {
        border-left: solid $blue-light 1px;
        padding: rem-calc(0 8);

        &:first-child { 
          border: none;
          padding-left: 0;
        }
      }

      &__a {
        color: $blue-light;
        line-height: 1;
        text-decoration: none;

        &:hover { color: $blue-dark; }

        &.nav--active { color: $blue-dark; }
      }
    }
  }

//--------------------------------------------------
// public
//--------------------------------------------------
  &--primary {
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);

    .nav__link {
      color: $blue-light;
      margin-right: rem-calc(16);
      text-decoration: none;

      &:hover { color: $blue-dark; }
    }

    .nav--active { color: $blue-dark; }
  }

  &--side {
    background-color: $purple-light;
    flex-shrink: 0;

    .material-icons { color: $grey; }

    .nav {
      &__ul {
        padding: rem-calc(16);
      }

        &__li {
          border-bottom: solid $grey 1px;
          padding: rem-calc(0 0 0 10);
          width: rem-calc(190); height: rem-calc(40);

          &:hover { background-color: $grey-light; }
        }
    }
  }

  &--footer {
    width: rem-calc(320);

    .nav {
      &__li {
        flex: 0 1 50%;
        margin: rem-calc(4 0);
      }

        &__a {
          text-decoration: none;

          &:hover { color: $white; }
        }
    }
  }
}