//--------------------------------------------------
// table - reusable styles
//--------------------------------------------------
%table { margin: rem-calc(26 0 0 0); }
//--------------------------------------------------
// table
//--------------------------------------------------
.table {

  &__header {
    padding-left: rem-calc(21);
  }

  &__row {
    background-color: $white; 
    border: solid 1px $beige;
    border-radius: 6px;
    margin-bottom: rem-calc(9);
    padding: rem-calc(21);

    &:hover { box-shadow: $beige 0 0 4px 3px}

    p { margin-bottom: 0; }
  }

    &__heading {
      font-weight: bold;

      
    }

    &__buttons {
      justify-self: flex-end;
      margin-left: auto;
    }

  &--surveys {
    @extend %table;

    .table__heading {
      &-1 { width: rem-calc(180); }
      &-2 { width: rem-calc(100); }
      &-3 { width: rem-calc(100); }
      &-4 { width: rem-calc(100); }
    }
  }

  &--users {
    @extend %table;

    .table__heading {
      &-1 { width: rem-calc(120); }
      &-2 { width: rem-calc(180); }
      &-3 { width: rem-calc(200); }
      &-4 { width: rem-calc(140); }
      &-5 { width: rem-calc(100); }
    }
  }
}