//--------------------------------------------------
// topbar - shared styles
//--------------------------------------------------
%topbar {
  height: $topbar-small;

  @include breakpoint($medium) { height: $topbar-large; }
}

//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {

//--------------------------------------------------
// topbar - admin
//--------------------------------------------------
  &--admin {
    @extend %topbar;
    background-color: $secondary;

    .topbar__logo {
      width: rem-calc(113); height: rem-calc(51);
    }
  }

//--------------------------------------------------
// topbar - public
//--------------------------------------------------
  &--public {
    @extend %topbar;

    .topbar__content {
      border-bottom: solid $grey 1px;
      height: 100%;
    }
  }
}
