//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  background-color: $secondary;
  height: rem-calc(102);
  padding: 0 $gutter-large;
}