<div class="footer__funder-logos flex flex-v-center">
  <span title='Economic & Social Research Council' class='logo--esrc'></span>
  <span title='Cambridge Conservation Initiative' class='logo--cci'></span>
</div>
<%= link_to '', root_path, title: 'Future of Conservation', class: 'logo--foc-white' %>