<simple-modal button-text="Accept">
  <div class="survey-warning__content flex flex-column flex-v-center">
    <div class="logo--foc survey-warning__logo"></div>
    <h1 class="survey-warning__title"> <%= t('sign_up_warning.title') %> </h1>
    <div class="survey-warning__container--scroll custom-scroll">
      <p class="survey-warning__description"> <%= t('sign_up_warning.description') %></p>
    </div>
  </div>
</simple-modal>
