<ul class="float-right">
  <li><%= link_to "English", params.permit(:locale).merge(locale: "en") %></li>
  <li><%= link_to "Espanol", params.permit(:locale).merge(locale: "es") %></li>
  <li><%= link_to "Français", params.permit(:locale).merge(locale: "fr") %></li>
</ul>
